/* Para evitar que el contenido quede oculto debajo del header */
body {
    padding-top: 80px; /* Compensa el header fijo */
    background-color: blue;
} 

#header {
    transition: background-color 0.5s ease; /* Transición suave para el cambio de fondo */
    height: 90px; /* Altura fija del header */
    z-index: 1030; /* Asegurar que el header esté encima del contenido */
}


  
#header.transparent {
    background-color: transparent; /* Sin fondo cuando está en la parte superior */
}
  
#header.scrolled {
    background-color: white; /* Fondo verde al hacer scroll */
}

.nav-link {
    padding: 0 8px; /* Ajusta el espacio horizontal entre idiomas */
}

.nav-link:hover {
    color: #007bff; /* Cambia el color al pasar el ratón */
    text-decoration: underline; /* Opcional */
}
  
/* Ajusta el tamaño del botón del menú para que sea más consistente */
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
    position: absolute; /* Superponer el menú desplegable */
    top: 60px; /* Posición debajo del header */
    left: 0;
    background-color: #ffffff; /* Fondo blanco */
    z-index: 1025; /* Asegurar que esté encima de otros elementos */
    border: 1px solid #ddd; /* Opcional: borde para distinguirlo */
    border-radius: 0 0 5px 5px; /* Esquinas redondeadas en la parte inferior */
    padding: 10px; /* Espaciado interno */
    margin-left: 10px;
}

