body.bodyA {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.fullscreenSectionA {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/espacio.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.fullscreenSectionA::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.fullscreenContentA {
  position: relative;
  z-index: 2;
}

.fullscreenTitleA {
  font-size: 3.5rem;
}

.fullscreenSubtitleA {
  font-size: 1.7rem;
}

#sobreNosotrosA,
#nuestrosValoresA,
#formularioA {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#sobreNosotrosA {
  background-color: #6c757d;
  padding: 40px 0;
}

#nuestrosValoresA {
  background-color: #343a40;
  padding: 40px 0;
}

#sobreNosotrosA h1, #nuestrosValoresA h1 {
  font-size: 2.8rem;
}

#sobreNosotrosA p, #nuestrosValoresA p {
  font-size: 1.5rem;
}

#formularioA {
  background-color: #495057;
  padding: 20px;
}

.hoverImage-containerA {
  position: relative;
  display: inline-block;
}

.hoverImageA {
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  max-width: 600px;
  margin-bottom: 50px;
}

.hoverImage-containerA:hover .hoverImageA {
  transform: scale(1.1);
}

.hoverImageA:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  filter: brightness(0.5);
}

.hoverImage-textA {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-align: center;
}

.hoverImage-containerA:hover .hoverImage-textA {
  opacity: 1;
}

.formContainerA {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 45%;
  max-width: 450px;
  color: black;
}

.formContainerA form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .fullscreenTitleA {
      font-size: 2.5rem;
  }
  .fullscreenSubtitleA {
      font-size: 1.2rem;
  }
  .formContainerA {
      width: 80%;
  }
}
